@model IEnumerable<Sasso.Data.Data.Data.Projects>
@using Sasso.Data.HelperClass


@{
    ViewData["Title"] = "Index";
    Layout = null;
    string actionPage = "";
    if (ViewContext.RouteData.Values["Action"] != null)
    {
        actionPage = ViewContext.RouteData.Values["Action"].ToString();
    }
}

<div class="row no-gutters mb-0">
    <div class="col-12 px-0 mx-0">
        <div class="col-sm-12 text-left mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link @(actionPage == "Index" ? "active" : "")" asp-action="Index">Aktualne (@ViewBag.Index)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(actionPage == "Ended" ? "active" : "")" asp-action="Ended">Zakończone (@ViewBag.Ended)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(actionPage == "Deleted" ? "active" : "")" asp-action="Deleted">Kosz (@ViewBag.Deleted)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(actionPage == "All" ? "active" : "")" asp-action="All">Wszystkie (@ViewBag.All)</a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="row rounded rounded-bottom border-top-0 mb-5 bg-white pt-4 shadow">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 mb-5 project-item">
            <div class="card @(item.Active == false ? "bg-light" : "" ) h-100 w-100 shadow">
                <img src="@(new CloudAccess().GetImg(item.MediaItem))" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a asp-action="About" asp-route-id="@item.ProjectsID"><i class="bi bi-zoom-in m-3" style="font-size: 1rem; color:black;"></i></a>
                            @if (item.Active == false)
                            {
                                <a asp-action="Restore" asp-route-id="@item.ProjectsID" class="removeButton" data-id="@item.ProjectsID" title="Przywróć"><i class="bi bi-arrow-clockwise m-3 " style="font-size: 1rem; color:black;"></i></a>
                                <a asp-action="Kill" asp-route-id="@item.ProjectsID" class="killButton" data-id="@item.ProjectsID" title="Usuń na zawsze"><i class="bi bi-trash2 m-3 " style="font-size: 1rem; color:red;"></i></a>
                            }
                            else
                            {
                                <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.ProjectsID" title="Edytuj"><i class="bi bi-sliders m-3" style="font-size: 1rem; color:black;"></i></a>
                                <a asp-action="Delete" asp-controller="Projects" asp-route-id="@item.ProjectsID" title="Przenieś do kosza" class="removeButton" data-id="@item.ProjectsID"><i class="bi bi-x-circle m-3 " style="font-size: 1rem; color:black;"></i></a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>